In [1]:
a = 'apple'
print a == 'apple'

True

In [ ]:
a = "Hi my name is David, and my phone number is 0912345678"
b = "Hi my name is Mary, and my age is 28"

In [3]:
a = ['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']

import re
for ele in a:
    m = re.match('^\d{4}-?\d{3}-?\d{3}$', ele)
    if m:
        print ele

0912345678
0923-451-192
0912-111222

## 比對單一英文字母

In [5]:
word = 'a'
m = re.match('a', word) # match word
print m
m = re.match('b', word) # match none
print m

<_sre.SRE_Match object at 0x0000000003A3AB28>
None

In [6]:
word = 'z'
m = re.match('[acz]', word) # match word a or c or z, word in [] is in OR relation
print m

<_sre.SRE_Match object at 0x0000000003A3AB28>

In [21]:
word = 'z'
m = re.match('[abcdefghijklmnopqrstuvwxyz]', word)
print m
m = re.match('[a-z]', word) # [a-z] == [abcdefghijklmnopqrstuvwxyz]
print m
word = 'Z'
m = re.match('[a-z]', word) # [a-z] == [abcdefghijklmnopqrstuvwxyz]
print m
m = re.match('[A-Z]', word) # [A-Z]
print m
m = re.match('[a-zA-Z]', word) # [A-Z]
print m

<_sre.SRE_Match object at 0x0000000003ABB7E8>
<_sre.SRE_Match object at 0x0000000003ABB718>
None
<_sre.SRE_Match object at 0x0000000003ABB718>
<_sre.SRE_Match object at 0x0000000003ABB7E8>

## 比對單一數字

In [14]:
n= '8'
print n if re.match('8', n) else None # match 8 
print n if re.match('[0123456789]', n) else None # match either numeric
print n if re.match('[0-9]', n) else None # match either numeric

8
8
8

## 比對多個文字 (固定長度)

In [23]:
carid = ['1122-AB', '2222-QQ', '3333-QG', 'A92B-12', '3A4B-1L', '12345-AAA'] # the first three are true carid
print [ ele  for ele in carid if re.match('[0-9]', ele)] # anything that has a numeric as initial word 
print [ ele  for ele in carid if re.match('[0-9]{4}-[A-Z]{2}', ele)] # anything that matches to NNNN-AA
print [ ele  for ele in carid if re.match('[0-9]{4,5}-[A-Z]{2,3}', ele)] # anything that matches to NNNN-AA

['1122-AB', '2222-QQ', '3333-QG', '3A4B-1L', '12345-AAA']
['1122-AB', '2222-QQ', '3333-QG']
['1122-AB', '2222-QQ', '3333-QG', '12345-AAA']

## 比對多個文字 (不固定長度 e.g. EMAIL)

In [29]:
email = ['qoo@cocacola.com', 'anonymous@111.22', '13u1udhfgiudhi-sldfjsdjfos', 'acool123@pchome.com.tw']
print [ ele  for ele in email if re.match('[a-zA-Z]{1,}@[a-z]{0,}\.com', ele)] # anything that matchs *@*.com
print [ ele  for ele in email if re.match('[a-zA-Z]+@[a-z]*\.com', ele)] # {1,} == +,  {0,} == *
print [ ele  for ele in email if re.match('[a-zA-Z0-9]+@[a-zA-Z.]+', ele)] 
print [ ele  for ele in email if re.match('\w+@.+', ele)]  # [a-zA-Z0-9] == \w, anything == .

['qoo@cocacola.com']
['qoo@cocacola.com']
['qoo@cocacola.com', 'acool123@pchome.com.tw']
['qoo@cocacola.com', 'anonymous@111.22', 'acool123@pchome.com.tw']

## 比對電話號碼

In [34]:
phone = ['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']
print [ ele  for ele in phone if re.match('[0-9]+', ele)] 
print [ ele  for ele in phone if re.match('09[0-9]{2}-{0,1}[0-9]{3}-{0,1}[0-9]{3}', ele)] 
print [ ele  for ele in phone if re.match('09[0-9]{2}-?[0-9]{3}-?[0-9]{3}', ele)] # {0,1} == ?
print [ ele  for ele in phone if re.match('09\d{2}-?\d{3}-?\d{3}', ele)] # [0-9] == \d, [a-zA-Z0-9] == \w

['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']
['0912345678', '0923-451-192', '0912-111222', '0912312318231310893010']
['0912345678', '0923-451-192', '0912-111222', '0912312318231310893010']

In [66]:
phone = ['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']
for ele in phone: 
    m = re.match('(^[0-9]+$)', ele)
    print m.group(1)

0912345678

AttributeError: 'NoneType' object has no attribute 'group'

## 開頭與結尾比對

In [37]:
name = ['David', 'Jones', 'Amy', 'Linda', 'Johnson', 'Jenny']
print [ ele  for ele in name if re.match('^J\w+', ele)] # use ^ to match any begin word
print [ ele  for ele in name if re.match('\w+y$', ele)] # use $ to match any end word

['Jones', 'Johnson', 'Jenny']
['Amy', 'Jenny']

## 電話比對完整版

In [38]:
phone = ['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']
print [ ele  for ele in phone if re.match('^09\d{2}-?\d{3}-?\d{3}$', ele)]

['0912345678', '0923-451-192', '0912-111222']

## 資料抽取

In [43]:
email = ['qoo@cocacola.com', 'anonymous@111.22', '13u1udhfgiudhi-sldfjsdjfos', 'acool123@pchome.com.tw']
for ele in email:
    m = re.match('(\w+)@(.+)', ele)  # use () to match group 
    if m:
        #print m.group(1), m.group(2) 
        #print m.group(0) # group(0) print everything
        username, hostname = m.group(1), m.group(2) 
        print username, hostname

qoo@cocacola.com
qoo cocacola.com
anonymous@111.22
anonymous 111.22
acool123@pchome.com.tw
acool123 pchome.com.tw

In [48]:
for ele in email:
    m = re.match('(?P<username>\w+)@(?P<hostname>.+)', ele)  # ?P<name>, can user group('name') to extract element
    if m:
        print m.group('username'), m.group('hostname')

qoo cocacola.com
anonymous 111.22
acool123 pchome.com.tw

In [52]:
import requests
from bs4 import BeautifulSoup as bs
import re

res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/')
soup = bs(res.text)
for entry in soup.select('.rtddt a'):
    m = re.match('(?P<title>.*)\((?P<popularity>\d+)\)',entry.select('h1')[0].text)
    print m.group('title'), m.group('popularity')

【更新】柯建銘與徐永明互槓　蘇嘉全：可能... 2926
《財訊》霸氣郭台銘下苦工 柔軟攻克日本防... 0
助基督教會維權　北京律師被迫上電視認罪 0
聯結車與自小客國道相撞　2死1傷 39497
「哇嗯係大摳呆！」　達比修澄清身上是肌肉... 0
外資加碼台股　上調目標指數至9000點 0
呼應轉型正義　楊偉中：國民黨捐黨產賠償受... 35
【有片】基隆港住四十年　海面驚見牠好驚喜 1188
鴻夏戀若成功　張盛和：有助對抗紅潮 78
【網路溫度計】2016台灣燈會在桃園！十... 121
卓冠廷戀洪慈庸　卓爸：媒體曝光才知道 1205
女遭5少年輪流性侵的真相　竟是父女亂倫 2763
她抱怨碰到麻煩事！「有個女孩超想變成我」 1053
【民報】國際特赦組織：70年來最凜洌的人... 375
柯P比任何人還會騙？網友神比喻超貼切 2720
蔡英文訪電廠　白天開燈省能源？ 1467
果然大咖！　他練投　教練下令清場！ 2011
【法廣RFI】美軍上將： 北京可能事實掌... 1170
綠委提3千元兒少津貼　陳威仁：民進黨執政... 1228
【更新】美堪薩斯驚傳槍擊案　至少4死30... 12692
國民黨主席補選4人登記　今公布通過連署人... 613
張國煒今日持續未現身長榮總部 1119
【法廣RFI】安理會將採取空前措施制裁朝... 492
基隆駕訓班傳命案　女遭鐵捲門壓死 6890
王毅盼台尊重憲政　張善政：我們的憲法沒問... 1262
男拿小黃瓜塞洞塞口　「小三」窒息死 5575
【法廣RFI】制裁平壤：朝鮮設施將被定期... 371
賈納春訓慢慢練　改教田中將大如何當爸爸 728
【國際為什麼】中國政壇年度大拜拜 1215
【法廣RFI】20國集團財長聚滬 陸貨幣... 307

In [57]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/')
soup = bs(res.text)
news_list = []
for entry in soup.select('.rtddt a'):
    m = re.match('(?P<title>.*)\((?P<popularity>\d+)\)',entry.select('h1')[0].text)
    news_list.append( {'title':m.group('title'), 'popularity':int(m.group('popularity'))})

In [63]:
df  = pd.DataFrame(news_list)
df.head(10)
df.sort(['popularity'], ascending=False).head()

C:\Users\BIG DATA\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

    popularity                title
2       119679   蔡依林翻糖神乎奇技　細膩直逼3D列印
1        77436  是真愛啊！49歲港姐尋回初戀　攜兒3嫁
29       58355    潘慧如入住恐怖民宿　跳蚤陪睡蓋尿被
3        42899      【圖解新聞】這些人一輩子沒胖過
12       26888  在美國工作比較好？　矽谷工程師惆悵回顧

In [82]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
news_list = []
for page in xrange(1,31):
    res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/' + str(page))
    print page
    soup = bs(res.text)
    for entry in soup.select('.rtddt a'):
        #print entry.select('h2')[0].text
        m = re.match('(?P<title>.*)\((?P<popularity>\d+)\)',entry.select('h1')[0].text)
        category = entry.select('h2')[0].text
        news_list.append( {'title':m.group('title'), 'popularity':int(m.group('popularity')), 'category':category})

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [83]:
df  = pd.DataFrame(news_list)
df.head()
df.head(10)
#df.head()
df.sort(['popularity'], ascending=False).head()

C:\Users\BIG DATA\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

    category  popularity                    title
474       社會      278848  【影片曝光】北市補丁馬路害命　騎士突摔遭...
437       社會      275283      【獨家】扯爆！　國中女竟為WiFi賣身
796       政治      272844       20世紀前9大殺人魔王　第4名在台灣
797       社會      269405  【更新】燈會上演皮影活春宮　女主角正面曝...
380       社會      243288     【更新】12歲女童染性病　案情竟然超展開

In [87]:
df1 = df.groupby(['category'], sort=False)['popularity'].sum()
df2 = df.groupby(['category'], sort=False)['popularity'].count()
print df1, df2

category
國際    1315696
財經    1230035
生活    1420942
政治    1531724
體育     323974
娛樂    1693363
搜奇     788211
社會    3214383
時尚     209438
地產      64372
論壇     140545
3C     137069
動物      88052
正妹      36263
Name: popularity, dtype: int64 category
國際    201
財經    132
生活    128
政治     81
體育     48
娛樂     56
搜奇     38
社會    101
時尚     18
地產     18
論壇     39
3C     22
動物     16
正妹      2
Name: popularity, dtype: int64

In [85]:
idx = df.groupby(['category'])['popularity'].transform(max) == df['popularity']
#print idx
df[idx]

    category  popularity                    title
108       3C       93879      台灣臉書更新　「表情符號」今天正式上線
188       論壇       16892           呂秋遠：我們對超商店員的期待
283       體育       36186  《蘋果Live》17比4　Lamigo ...
298       正妹       24487      不美幹嘛脫　陳埃及主張女性身體解放自主
362       娛樂      135272  【更新】小小瑜想淡出演藝圈　真相竟是.....
373       財經      142076  鴻海推遲簽約原因　夏普忘了說恐欠債350...
458       動物       38222      【影片】一息尚存癱狗　險被丟垃圾車絞死
474       社會      278848  【影片曝光】北市補丁馬路害命　騎士突摔遭...
596       國際       72310          上班族流行「裸辭」　這六點必看
675       地產        7856        傻眼！　北市松山區老屋是新屋48倍
678       生活      105542     駕照道路路考3月上路　記者團實測全軍覆沒
759       時尚      101224     小S登米蘭大秀　他認為是在模仿「這個人」
796       政治      272844       20世紀前9大殺人魔王　第4名在台灣
803       搜奇      224661        他用這招對付詐騙集團　把對方逼瘋了

In [ ]:
import jieba
dic = {}
for entry in jd['data']:
    for ele in jieba.cut(entry['message']):
        if not ele in dic:
            dic[ele] = 1
        else:
            dic[ele] = dic[ele] + 1

In [21]:
import requests
import json
import jieba
dic = {}
jieba.add_word('民進黨')
jieba.add_word('蔡英文')
def update_dic(jd, dic):
    for entry in jd['data']:
        if 'message' in entry:
            for ele in jieba.cut(entry['message']):
                if not ele in dic:
                    dic[ele] = 1
                else:
                    dic[ele] = dic[ele] + 1

ACCESS_TOKEN = 'CAACEdEose0cBABgVGZByIZBUrpooyhZC4ZABFgjmDHZAXX3S0p3P53PpXcfhsDhKStQfs3MS8eBmPGZB42a5MF2pSOUE1Rjz0P4RZAtVoOkdaXwWhm7KN4tdrbIBMxUf7tXTrqRq53WXqquuZC8dp1sg8D0tx3k9HhM01b1XuYmlnVXTU4FFgpia1jWIFUIdZBQpUtmAHlVrw7z85iRKSL2gf'
res = requests.get('https://graph.facebook.com/v2.5/tsaiingwen/posts?access_token={}&limit=100&since=1420070400'.format(ACCESS_TOKEN))
jd = json.loads(res.text)

update_dic(jd, dic)

while 'paging' in jd and jd['paging']['next']:
    res = requests.get(jd['paging']['next'])
    jd = json.loads(res.text)
    update_dic(jd, dic)

In [23]:
from operator import itemgetter
import re
swd = sorted(dic.items(), key = itemgetter(1), reverse=True)
for ele in swd:
    if re.match(u'[\u4e00-\u9fa5]+', ele[0]) and len(ele[0]) >=2:
        pass
        #print ele[0], ele[1]

## 統整程式碼

### 步驟 0 引用套件

In [24]:
# -*- coding: utf-8 -*- 
from bs4 import BeautifulSoup 
from datetime import datetime 
import os, sys, re

### 步驟1 建立資料抽出函式

In [33]:
def get_response_element (file_name): 
    f = open(file_name, 'r') 
    response_text = f.read() 
    f.close() 
    soup = BeautifulSoup(response_text)     
    tender_table = soup.select('.table_block.tender_table')[0]
    tr = tender_table.select('tr') 
    return tr

In [36]:
#print get_response_element('gov/51687663_1040705.txt')

### 步驟2 建立時間轉換函式

In [37]:
def date_conversion(element):
        m = re.match(r"(\d+/\d+/\d+)",element)
        if m is not None:
                t = m.group(1).split('/', 1)
                if t[0] != '':
                        return datetime.strptime(str(int(t[0]) + 1911) + "/" + (''.join(t[1:]).split()[0] ), "%Y/%m/%d")
        else:
                return None

In [40]:
date_conversion('102/02/03')

datetime.datetime(2013, 2, 3, 0, 0)

### 步驟3 建立金額轉換函式

In [38]:
def money_conversion(element): 
    m = re.match( r"\$?([0-9,]+)", "".join(element.split())) 
    return int(''.join(m.group(0).split(',')))

In [39]:
money_conversion('123,111元')

123111

### 步驟4 建立移除空白函式

In [41]:
def remove_space(element): 
    return "".join(element.split())

In [42]:
remove_space('adf                ddddddddddddddddd')

'adfddddddddddddddddd'

### 步驟5 建立轉換字典

In [54]:
name_map = {"機關代碼":"entity_code", "機關名稱":"procuring_entity","標案案號":"job_number","招標方式":"procurement_type",\
    "決標方式":"tender_awarding_type","標案名稱":"subject_of_procurement", "決標資料類別":"attr_of_tender_awarding", \
    "標的分類":"attr_of_procurement", "預算金額":"budget_value", "開標時間":"opening_date","決標公告日期":"tender_awarding_announce_date",\
    "歸屬計畫類別":"project_type","總決標金額":"total_tender_awarding_value","底價金額":"floor_price_value","決標日期":"tender_awarding_date", "pkAtmMain":"pkAtmMain"}

tender_awards_map = {"機關代碼":remove_space, "機關名稱":remove_space, "標案案號":remove_space, \
    "招標方式":remove_space,"決標方式":remove_space,"標案名稱":remove_space, "決標資料類別":remove_space, \
    "標的分類":remove_space, "預算金額":money_conversion, "開標時間":date_conversion,"歸屬計畫類別":remove_space, \
    "總決標金額":money_conversion,"底價金額":money_conversion,"決標日期":date_conversion, "決標公告日期":date_conversion}

In [43]:
dic = {'a':remove_space , 'b':money_conversion}
dic['a'](' djdd             dddddd             dddddd') # remove_space(' djdd             dddddd             dddddd')

'djdddddddddddddd'

In [62]:
li = [remove_space,money_conversion]
print li[0]('sdf         dfdf')

sdfdfdf

### 步驟6 整理機關、已公告、決標資料

In [59]:
def get_award_info_dic(element):
    returned_dic = {}
    for row in element:
        th = row.select('th')
        if len(th) > 0:
            th_name = th[0].text.encode('utf-8').strip()
            if (th_name in  tender_awards_map):
                returned_dic[name_map[th_name]]   =   tender_awards_map[th_name](row.select('td')[0].text.strip())
    return returned_dic

In [60]:
ele = get_response_element('gov/51687663_1040705.txt')
get_award_info_dic(ele)

{'attr_of_procurement': u'<\u52de\u52d9\u985e>93\u5065\u5eb7\u53ca\u793e\u6703\u670d\u52d9',
 'attr_of_tender_awarding': u'\u5b9a\u671f\u5f59\u9001',
 'budget_value': 237600,
 'entity_code': u'A.21.100.46',
 'floor_price_value': 237600,
 'job_number': u'1040705',
 'opening_date': datetime.datetime(2015, 11, 4, 0, 0),
 'procurement_type': u'\u516c\u958b\u53d6\u5f97\u5831\u50f9\u55ae\u6216\u4f01\u5283\u66f8',
 'procuring_entity': u'\u885b\u751f\u798f\u5229\u90e8\u81fa\u6771\u91ab\u9662',
 'project_type': u'\u975e\u5c6c\u611b\u53f0\u5341\u4e8c\u9805\u8a08\u756b',
 'subject_of_procurement': u'\u91ab\u7642\u696d\u52d9\u652f\u63f4\u6848',
 'tender_awarding_announce_date': datetime.datetime(2015, 11, 12, 0, 0),
 'tender_awarding_date': datetime.datetime(2015, 11, 4, 0, 0),
 'tender_awarding_type': u'\u6700\u4f4e\u6a19',
 'total_tender_awarding_value': 237600}

### 步驟7 瀏覽整理過的資料

In [61]:
element = get_response_element('gov/51687663_1040705.txt')
dic = get_award_info_dic(element)
for ele in dic:
    print ele, dic[ele]

opening_date 2015-11-04 00:00:00
total_tender_awarding_value 237600
tender_awarding_date 2015-11-04 00:00:00
entity_code A.21.100.46
procurement_type 公開取得報價單或企劃書
procuring_entity 衛生福利部臺東醫院
attr_of_procurement <勞務類>93健康及社會服務
tender_awarding_announce_date 2015-11-12 00:00:00
subject_of_procurement 醫療業務支援案
project_type 非屬愛台十二項計畫
attr_of_tender_awarding 定期彙送
budget_value 237600
floor_price_value 237600
job_number 1040705
tender_awarding_type 最低標

## 資料儲存與分析

In [65]:
import sqlite3
db = sqlite3.connect('test.sqlite')
db.close()

#### 下載Sqlite Manager:
- https://addons.mozilla.org/zh-tw/firefox/addon/sqlite-manager/

In [66]:
import sqlite3
db = sqlite3.connect('test.sqlite')
cur = db.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS Tender_awards(
                id INTEGER PRIMARY KEY,
                pkAtmMain TEXT,
                procuring_entity TEXT,
                entity_code TEXT,
                attr_of_procurement TEXT,
                opening_date DATETIME,
                procurement_type TEXT,
                tender_awarding_type TEXT,
                project_type TEXT,
                subject_of_procurement TEXT,
                job_number TEXT,
                budget_value BIGINTEGER,
                attr_of_tender_awarding TEXT,
                floor_price_value BIGINTEGER,
                tender_awarding_announce_date DATETIME,
                tender_awarding_date DATETIME,
                total_tender_awarding_value BIGINTEGER
                )''')
db.close()

In [69]:
import sqlite3

con = sqlite3.connect("test.sqlite") 

cur = con.cursor() 
cur.execute("DROP TABLE IF EXISTS PhoneAddress")  # Drop Table If Exisits 
cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
con.commit()
#cur.execute("SELECT phone,address FROM PhoneAddress") 
#data = cur.fetchall() 
#    for rec in data: 
#        print rec[0], rec[1] 
con.close()

In [71]:
import sqlite3

con = sqlite3.connect("test.sqlite") 

cur = con.cursor() 

cur.execute("SELECT phone,address FROM PhoneAddress") 
data = cur.fetchone() # fetch one row at a time
print data
data2 = cur.fetchone()
print data2

con.close()

(u'0912173381', u'United State')
(u'0928375018', u'Tokyo Japan')

In [72]:
import sqlite3

con = sqlite3.connect("test.sqlite") 

cur = con.cursor() 

cur.execute("SELECT phone,address FROM PhoneAddress") 
data = cur.fetchone() 
print data
data2 = cur.fetchall() # fetch all rows at a time
print data2
con.close()

(u'0912173381', u'United State')
[(u'0928375018', u'Tokyo Japan'), (u'0957209108', u'Taipei')]

## 把資料塞入資料庫

In [81]:
element = get_response_element('gov/51687663_1040705.txt')
dic = get_award_info_dic(element)

# insert into Tender_awards (c1, c2, c3...) values(v1, v2, v3)
# insert into Tender_awards (c1, c2, c3...) values(?,?,?)

sql = 'insert into Tender_awards ({}) values({})'
columns =  ', '.join(dic.keys())
print len(dic)
print len(dic) * '?'
print ','.join(len(dic) * '?')
placeholders = ','.join(len(dic) * '?')

print sql.format(columns, placeholders)
print dic.values()

#cur.execute(sql,award_info_dic.values())
#columns =  ', '.join(dic.keys())
#for ele in dic:
#    print ele, dic[ele]

15
???????????????
?,?,?,?,?,?,?,?,?,?,?,?,?,?,?
insert into Tender_awards (opening_date, total_tender_awarding_value, tender_awarding_date, entity_code, procurement_type, procuring_entity, attr_of_procurement, tender_awarding_announce_date, subject_of_procurement, project_type, attr_of_tender_awarding, budget_value, floor_price_value, job_number, tender_awarding_type) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
[datetime.datetime(2015, 11, 4, 0, 0), 237600, datetime.datetime(2015, 11, 4, 0, 0), u'A.21.100.46', u'\u516c\u958b\u53d6\u5f97\u5831\u50f9\u55ae\u6216\u4f01\u5283\u66f8', u'\u885b\u751f\u798f\u5229\u90e8\u81fa\u6771\u91ab\u9662', u'<\u52de\u52d9\u985e>93\u5065\u5eb7\u53ca\u793e\u6703\u670d\u52d9', datetime.datetime(2015, 11, 12, 0, 0), u'\u91ab\u7642\u696d\u52d9\u652f\u63f4\u6848', u'\u975e\u5c6c\u611b\u53f0\u5341\u4e8c\u9805\u8a08\u756b', u'\u5b9a\u671f\u5f59\u9001', 237600, 237600, u'1040705', u'\u6700\u4f4e\u6a19']

In [91]:
import sqlite3

sql = 'insert into Tender_awards ({}) values({})'
con = sqlite3.connect("test.sqlite") 
cur = con.cursor() 

# insert into Tender_awards (c1, c2, c3...) values(?,?,?)
element = get_response_element('gov/51687663_1040705.txt')
dic = get_award_info_dic(element)
columns =  ', '.join(dic.keys())
placeholders = ','.join(len(dic) * '?')
cur.execute(sql.format(columns, placeholders), dic.values())
con.commit()
con.close()

In [92]:
import os
path = 'gov/'
os.listdir(path)
for f in os.listdir(path):
    print path + f

gov/1499534_9511.txt
gov/51632563_you104004.txt
gov/51658371_AH1041002.txt
gov/51669565_1041008B.txt
gov/51671363_1041012A01.txt
gov/51686117_104A280.txt
gov/51686231_10411090027.txt
gov/51686279_HC05004P013.txt
gov/51686287_CAA104CE06.txt
gov/51686294_104-d-20-E1020-1.txt
gov/51686298_104-d-20-E1020-4.txt
gov/51686299_C105-02EF.txt
gov/51686304_1041000247.txt
gov/51686311_L0204P1142Q.txt
gov/51686313_C105-01EF.txt
gov/51686316_104-B052-00T.txt
gov/51686320_A103-047-1.txt
gov/51686322_104176CE.txt
gov/51686331_1041000232.txt
gov/51686337_104116001503.txt
gov/51686342_104FIN63.txt
gov/51686344_10415.txt
gov/51686357_ntsh1040930.txt
gov/51686370_FC05001P005.txt
gov/51686382_104C005.txt
gov/51686384_1040924.txt
gov/51686394_tc10410.txt
gov/51686398_104102901.txt
gov/51686412_M01-0914-C.txt
gov/51686423_0610400010.txt
gov/51686428_104-10.txt
gov/51686430_tces10411.txt
gov/51686433_DCB0361001-1.txt
gov/51686438_1040901.txt
gov/51686451_104-0130-2-004.txt
gov/51686456_104-45.txt
gov/51686472_LHF0470003.txt
gov/51686476_103B082-1-1.txt
gov/51686487_105-0441-1-002.txt
gov/51686493_104-094.txt
gov/51686495_1040905.txt
gov/51686497_104QE307C1.txt
gov/51686517_104B-016.txt
gov/51686518_1041020-01.txt
gov/51686526_MPB1041021C027.txt
gov/51686532_ENSO104051.txt
gov/51686537_SV-10413.txt
gov/51686542_1090400020.txt
gov/51686551_101B040-3-105.txt
gov/51686591_104006.txt
gov/51686601_ENG-1040054.txt
gov/51686603_1041028C.txt
gov/51686608_1034F177-1.txt
gov/51686610_104930.txt
gov/51686619_1041012.txt
gov/51686621_10417.txt
gov/51686622_0605L1041021.txt
gov/51686632_C1041001-01.txt
gov/51686645_102B054-2-105.txt
gov/51686654_104-S001.txt
gov/51686668_tms105005.txt
gov/51686670_hles104110601.txt
gov/51686677_GM05037P006.txt
gov/51686685_D104-0528-172.txt
gov/51686687_104C006.txt
gov/51686697_104Y0916.txt
gov/51686700_104A08.txt
gov/51686706_RDL0416017.txt
gov/51686714_HI05014P029.txt
gov/51686715_DGC0342002.txt
gov/51686720_10410.txt
gov/51686725_GM05028P002.txt
gov/51686737_3410400310-S04122.txt
gov/51686739_10410002.txt
gov/51686744_1041022Q01-10.txt
gov/51686746_1041005-01.txt
gov/51686751_104-61.txt
gov/51686768_104-025.txt
gov/51686789_101B042-3-105.txt
gov/51686793_10468D003468.txt
gov/51686795_3510400302.txt
gov/51686813_89B010-2.txt
gov/51686821_1684.txt
gov/51686822_104224.txt
gov/51686829_E15101.txt
gov/51686835_0240400014.txt
gov/51686865_D145.txt
gov/51686882_3600400091.txt
gov/51686885_D150.txt
gov/51686889_1041070148B.txt
gov/51686907_1045015.txt
gov/51686909_10410pc001.txt
gov/51686911_3710400485.txt
gov/51686921_3500400239.txt
gov/51686923_1040020173B.txt
gov/51686933_1040600D00016.txt
gov/51686937_1041016.txt
gov/51686938_104700330410.txt
gov/51686942_105003.txt
gov/51686944_A1040574ENG025.txt
gov/51686945_3700400064.txt
gov/51686949_M04C5386.txt
gov/51686950_S104IZ023.txt
gov/51686952_104C037-K-Z02.txt
gov/51686970_104HK008.txt
gov/51686971_1040916-2.txt
gov/51686973_111104021004.txt
gov/51686980_P103-06.txt
gov/51686983_EY04054P100.txt
gov/51686986_AEC10410043L.txt
gov/51686989_wat103185-1.txt
gov/51686990_10402.txt
gov/51687000_B04A00336.txt
gov/51687004_104059.txt
gov/51687007_Factiva2016.txt
gov/51687018_1040903-3.txt
gov/51687025_MCB0470046.txt
gov/51687028_104302.txt
gov/51687031_HP05033P018PE.txt
gov/51687036_MCB0470054.txt
gov/51687043_MCB0470062.txt
gov/51687052_CS104014.txt
gov/51687059_1040922-1.txt
gov/51687062_JE04330P257.txt
gov/51687063_104001.txt
gov/51687089_C04080.txt
gov/51687093_104A07.txt
gov/51687110_B04A05901.txt
gov/51687117_104002.txt
gov/51687119_1040302-1-1.txt
gov/51687122_02104024.txt
gov/51687134_DGC0443001.txt
gov/51687142_1190400022.txt
gov/51687148_105-002A.txt
gov/51687152_10410085.txt
gov/51687164_EM05004P002.txt
gov/51687165_104-114A.txt
gov/51687171_D104-0910-174-1.txt
gov/51687175_1044B091.txt
gov/51687177_104B27P006.txt
gov/51687192_1040400029.txt
gov/51687203_1044B113.txt
gov/51687211_10487001017.txt
gov/51687224_104TMACH50S.txt
gov/51687232_SPO-1041101.txt
gov/51687242_10418.txt
gov/51687248_1190400019.txt
gov/51687251_104009.txt
gov/51687254_cejh104-12.txt
gov/51687266_104A08.txt
gov/51687268_SDK0402003.txt
gov/51687270_104-02-048.txt
gov/51687274_102B055-2-105.txt
gov/51687279_1040500311.txt
gov/51687282_S104107.txt
gov/51687285_AEC10410040L.txt
gov/51687288_3410400304-S04120.txt
gov/51687294_104L05.txt
gov/51687297_HI05028P020.txt
gov/51687302_1040903-2.txt
gov/51687313_ndc104087.txt
gov/51687331_wjes1041101.txt
gov/51687334_E1041012-02.txt
gov/51687337_104-e-07-E1102.txt
gov/51687338_100001.txt
gov/51687340_SZ104-151.txt
gov/51687342_G65B-104106.txt
gov/51687343_104-Y19.txt
gov/51687350_1041702.txt
gov/51687356_NL1041335.txt
gov/51687367_1041B0023-1.txt
gov/51687374_A1040624KH109AA.txt
gov/51687384_10417-2.txt
gov/51687385_104-hw-01.txt
gov/51687386_1041028.txt
gov/51687387_104-0220-1-060.txt
gov/51687399_1041021001.txt
gov/51687401_104812120B-1.txt
gov/51687403_1040903-1.txt
gov/51687418_scy1040005.txt
gov/51687424_E1040930-01.txt
gov/51687431_G65B-104102.txt
gov/51687433_31588-a104029.txt
gov/51687438_A1040674KH132MK.txt
gov/51687440_EN04063P052.txt
gov/51687443_0960400008.txt
gov/51687448_104A01-1.txt
gov/51687451_10416.txt
gov/51687456_NCHC-S-104115.txt
gov/51687459_1041103.txt
gov/51687460_1040828-3.txt
gov/51687475_104CJ-004.txt
gov/51687484_G65B-104103.txt
gov/51687485_1044E006.txt
gov/51687494_IG104045.txt
gov/51687495_EV05037P028.txt
gov/51687496_10411003.txt
gov/51687498_10411A.txt
gov/51687501_104010.txt
gov/51687503_3520400096.txt
gov/51687511_CU-10419.txt
gov/51687534_1040050158D.txt
gov/51687537_104-0380-2-048.txt
gov/51687541_10407.txt
gov/51687542_1041111.txt
gov/51687543_1041028.txt
gov/51687561_1041002.txt
gov/51687568_B1041020-01.txt
gov/51687570_1012067-1.txt
gov/51687571_EY04067P051.txt
gov/51687575_104012.txt
gov/51687590_1041023A05.txt
gov/51687611_2C171041014-82.txt
gov/51687622_104NV002.txt
gov/51687623_1040029.txt
gov/51687639_1042500889.txt
gov/51687640_S104-03.txt
gov/51687642_104087.txt
gov/51687645_Ptswps1041105.txt
gov/51687648_104187CF.txt
gov/51687653_PD04177P651.txt
gov/51687655_103B04P033-CCO01.txt
gov/51687656_NTCLS104-030.txt
gov/51687657_1041101.txt
gov/51687661_10463331.txt
gov/51687663_1040705.txt
gov/583986_9105.txt
gov/982342_9267.txt

In [93]:
def insert_award_info (cur, data_dic, filename):
    file_param=filename.split(".txt")[0].split("_")
    pkAtmMain=file_param[0]
    data_dic['pkAtmMain']=pkAtmMain
    columns = ', '.join(data_dic.keys())
    placeholders = ', '.join('?' * len(data_dic))
    sql = 'INSERT INTO Tender_awards ({}) VALUES ({})'.format(columns, placeholders)	
    cur.execute(sql, data_dic.values())

In [94]:
import os
import sqlite3

sql = 'insert into Tender_awards ({}) values({})'
con = sqlite3.connect("test.sqlite") 
cur = con.cursor() 
path = 'gov/'
os.listdir(path)
for f in os.listdir(path):
    element = get_response_element(path + f)
    dic = get_award_info_dic(element)
    insert_award_info(cur, dic, f)
    con.commit()
con.close()

OperationalError: database is locked

In [107]:
s = ['a', 'b', 'c', 'a' ,'b', 'd', 'e', 'b', 'b']
print s
s.sort()
print s
#for ele in s

['a', 'b', 'c', 'a', 'b', 'd', 'e', 'b', 'b']
['a', 'a', 'b', 'b', 'b', 'b', 'c', 'd', 'e']

### word count : method 1

In [110]:
s = ['a', 'b', 'c', 'a' ,'b', 'd', 'e', 'b', 'b']
s.sort() # n * logn
cur_word = ''
cnt = 0 
print s
for ele in s: # n
    if not cur_word == ele:
        if cur_word != '':
            print cur_word, cnt
        cur_word = ele
        cnt = 1
    else:
        cnt = cnt + 1
print cur_word, cnt
# n * log n + n

['a', 'a', 'b', 'b', 'b', 'b', 'c', 'd', 'e']
a 2
b 4
c 1
d 1
e 1

### word count : method 2

In [113]:
s = ['a', 'b', 'c', 'a' ,'b', 'd', 'e', 'b', 'b']
print s

dic = {}
for ele in s: # n
    if not ele in dic:
        dic[ele] = 1
    else:
        dic[ele] = dic[ele] + 1
print dic
# n

['a', 'b', 'c', 'a', 'b', 'd', 'e', 'b', 'b']
{'a': 2, 'c': 1, 'b': 4, 'e': 1, 'd': 1}

In [2]:
import time
tic = time.clock()
toc = time.clock()
toc - tic

0.00011180059835921322

In [9]:
s = range(1,100000000)
tic = time.clock()
s.sort() # n * logn
cur_word = ''
cnt = 0 
#print s
for ele in s: # n
    if not cur_word == ele:
        if cur_word != '':
            pass
            #print cur_word, cnt
        cur_word = ele
        cnt = 1
    else:
        cnt = cnt + 1
#print cur_word, cnt
toc = time.clock()
print toc - tic

20.9753158744

In [10]:
s = range(1,100000000)
tic = time.clock()
dic = {}
for ele in s: # n
    if not ele in dic:
        dic[ele] = 1
    else:
        dic[ele] = dic[ele] + 1
toc = time.clock()
print toc - tic
#print dic

19.7100651879

In [11]:
import sqlite3 as lite

salary = (
    (1 ,          'Paul'  ,      32 ,         'California',  20000),
    (2 ,          'Allen' ,      25 ,         'Texas'     ,  15000),
    (3 ,          'Teddy' ,      23 ,         'Norway'    ,  20000),
    (4 ,          'Mark'  ,      25 ,         'Rich-Mond' ,  65000),
    (5 ,          'David' ,      27 ,         'Texas'     ,  85000),
    (6 ,          'Kim'   ,      22 ,         'South-Hall',  45000),
    (7 ,          'James' ,      24 ,         'Houston'   ,  10000)
)
department = (
(1,           'IT Billing'  ,1),
(2,           'Engineerin'  ,2),
(3,           'Finance'     ,7),
(4,           'Finance'     ,5),
(5,           'Finance'     ,6)

)

In [13]:
a = [1,2,3]
b = (1,2,3)
print dir(a)
print dir(b)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__delslice__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getslice__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__setslice__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__add__', '__class__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getslice__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [12]:
con = lite.connect('test.sqlite')

with con:
    
    cur = con.cursor()    
    
    cur.execute("DROP TABLE IF EXISTS Salary")
    cur.execute("DROP TABLE IF EXISTS Department")
    
    cur.execute("CREATE TABLE Salary(ID INT, NAME TEXT, AGE INT, ADDRESS TEXT, SALARY INT, FOREIGN KEY(ID) REFERENCES QOO(EMP_ID))")
    cur.executemany("INSERT INTO Salary VALUES(?, ?, ?, ?, ?)", salary)
    
    cur.execute("CREATE TABLE Department(ID INT PRIMARY KEY, DEPT CHAR(50), EMP_ID INT)")
    cur.executemany("INSERT INTO Department VALUES(?, ?, ?)", department)
con.close()

In [16]:
import time
dbname = 'test.sqlite'
con = lite.connect(dbname)

with con:
    
    cur = con.cursor()        
    cur.execute("DROP TABLE IF EXISTS ptest")
    cur.execute("CREATE TABLE ptest(ID INT)")
    start = time.time()
    for i in range(0,1000000):
        cur.execute("INSERT INTO ptest VALUES(%s)"%(i))
    end = time.time()
    print end -start
    cur.execute("select count(1) from ptest")
    rows = cur.fetchone()
    print rows

con.close()

4.0039999485
(1000000,)

In [17]:
dbname = 'test.sqlite'
con = lite.connect(dbname)
with con:
    
    cur = con.cursor()    
    
    cur.execute("DROP TABLE IF EXISTS ptest")
    cur.execute("CREATE TABLE ptest(ID INT)")
    start = time.time()
    cur.executemany("INSERT INTO ptest VALUES(?)",((id_, ) for id_ in xrange(1000000)))
    end = time.time()
    print end - start
    cur.execute("select count(1) from ptest")
    rows = cur.fetchone()
    print rows

con.close()

0.868999958038
(1000000,)

In [21]:
con = lite.connect('test.sqlite')

Phone = '0928375018'
Age = 9 

with con:

    cur = con.cursor()    
    cur.execute("select * from PhoneAddress") 
    rows = cur.fetchall()

    #for row in rows:
    #    print row
    cur.execute("UPDATE PhoneAddress SET age=? WHERE phone=?", (Age, Phone))        
    con.commit()
    #con.rollback()
    
    cur.execute("select * from PhoneAddress where phone=?", (Phone,)) 
    rows = cur.fetchall()

    for row in rows:
        print row
con.close()

(u'0928375018', u'Tokyo Japan', u'MuMu Cat', 9)