## for loo

In [6]:
for i in xrange(0,11):
    print i

0
1
2
3
4
5
6
7
8
9
10

In [11]:
import requests
dir(requests)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_formatter_field_name_split',
 '_formatter_parser',
 'capitalize',
 'center',
 'count',
 'decode',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
name = raw_input("what's your name")
if name == 'David':
    print "nice to meet you", name
else:
    print "your name again pleaz"

what's your namenate
your name again pleaz

In [89]:
name = "Nate"
print "nice to meet you", name
print "nice to meet you {}".format(name)
print "nice to meet you %s"%name
print "nice to meet you : {0}, I'm {1} {1} {1} {1}".format("jully","nate")
print "nice to meet you : %s, I'm %s %s %s %s"%("jully", "nate","nate","nate","nate")
print 'The results are %.02f and %d' % (3.14159, 5)

nice to meet you Nate
nice to meet you Nate
nice to meet you Nate
nice to meet you : jully, I'm nate nate nate nate
nice to meet you : jully, I'm nate nate nate nate
The results are 3.14 and 5

In [34]:
print 1+3
print 1.1+2
print 3-1
print 1/2
print 3/2
print 3/1.1
print 3%2
print 1%2 
print float(3/2)
print 3.0/2

4
3.1
2
0
1
2.72727272727
1
1
1.0
1.5

In [37]:
time = input("type a number")
print "QOO" * time

type a number3
QOOQOOQOO

In [38]:
3/0

ZeroDivisionError: integer division or modulo by zero

In [48]:
d1 = input("type a number")
d2 = input("type a number")

try:
    print d1/d2
except ZeroDivisionError as detail:
    print "error", detail

type a number1
type a number0
error integer division or modulo by zero

In [54]:
dir("this is a string")
a = "this is a string"
a.__str__()
print a 
print a.__str__()

this is a string
this is a string

In [56]:
a = 'this is a "book"'
print a

this is a "book"

In [61]:
a = "this is a\
boooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooook"
print a

this is aboooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooook

In [63]:
a = '''
tiohdoaf 
adfha;f
asd;fhihi;o

asfoiheop
'''
print a

tiohdoaf
adfha;f
asd;fhihi;o

asfoiheop

In [90]:
s = 'hello world'
print len(s)
print s[0]
print s[-1]
print s[1:4]
print s[:-3]
print s[-3:]
print s + 'yoyo'
print s.__add__('yoyo')
print s[::2]

11
h
d
ell
hello wo
rld
hello worldyoyo
hello worldyoyo
hlowrd

In [80]:
raw = '\n\t this is a \t line with format \t\n'
print raw
raw2 = r'\n\t this is a \t line with format \t\n'
print raw2
raw3 = repr(raw)
print raw3

	 this is a 	 line with format

\n\t this is a \t line with format \t\n
'\n\t this is a \t line with format \t\n'

In [86]:
a = 'Qoo loves OOP'
print a.upper()
print a.title()
print a.split()
print '='.join(a.split())

QOO LOVES OOP
Qoo Loves Oop
['Qoo', 'loves', 'OOP']
Qoo=loves=OOP

In [93]:
print ['asap', 3]
print list("word"), 
print [['list'], ['of', 'lists']]
print list(('a', 1)) 

a = ['heterogeneous', 3]
print a[1] + 5

['asap', 3]
['w', 'o', 'r', 'd'] [['list'], ['of', 'lists']]
['a', 1]
8

In [104]:
a = [1,2,3,5,'a']
print a[0]
s ="1235a"
print s[0]
print a[:3]
print a[:-1]
print a[::2]
print a[::-1]
print a[::-3]
print a[0:4:2]
print len(a)
print max(a),min(a)

1
1
[1, 2, 3]
[1, 2, 3, 5]
[1, 3, 'a']
['a', 5, 3, 2, 1]
['a', 2]
[1, 3]
5
a 1

In [114]:
a = [1,7,3,8,5]
#a.pop()
#a.append(6)
#a.sort()
#a.reverse()
a.sort(reverse=True)
a

[8, 7, 5, 3, 1]

In [119]:
hello =  list('hello world')
print hello
'h' in hello
'u' in hello
if 'h' in hello:
    print 'hello'

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
hello

In [123]:
a = [1,2,3,4,5]
b = a
print 'a: ',a
print 'b: ',b
a.append(6)
print 'a: ',a
print 'b: ',b

a:  [1, 2, 3, 4, 5]
b:  [1, 2, 3, 4, 5]
a:  [1, 2, 3, 4, 5, 6]
b:  [1, 2, 3, 4, 5, 6]

In [127]:
import copy
b = copy.deepcopy(a)
a.append(7)
print 'a: ',a
print 'b: ',b

a:  [1, 2, 3, 4, 5, 6, 6, 7, 7]
b:  [1, 2, 3, 4, 5, 6, 6, 7]

In [134]:
nums = [1,2,3,4]
squares = []
for n in nums:
    square = n*n
    squares.append(square)
print squares

squares = [n*3*n+5 for n in nums]
print squares

[1, 4, 9, 16]
[8, 17, 32, 53]

In [138]:
nums = [2, 8, 1, 6]
small = [ n for n in nums if n <= 2 ]  ## [2, 1]
print small

small = []
for n in nums:
    if n <=2:
        small.append(n)
print small

[2, 1]
[2, 1]

In [142]:
fruits = ['apple', 'cherry', 'bannana', 'lemon']
afruits = [ s.upper() for s in fruits if 'a' in s ]
print afruits

afruits = []
for s in fruits:
    if 'a' in s:
        afruits.append(s.upper())
print afruits

['APPLE', 'BANNANA']
['APPLE', 'BANNANA']

In [145]:
fruits = ['apple', 'cherry', 'bannana', 'lemon']
for s in fruits:
    print s

apple
cherry
bannana
lemon

In [149]:
a = 9
b = 8
for i in xrange(1,10):
    print i
    if i == a:
        print(str(a) + ' found!')
        break
    elif i == b:
        print str(b) + ' found'
    else:
        print(str(a) + ' was not in the list')

1
9 was not in the list
2
9 was not in the list
3
9 was not in the list
4
9 was not in the list
5
9 was not in the list
6
9 was not in the list
7
9 was not in the list
8
8 found
9
9 found!

In [153]:
a = 9
b = 8
for i in xrange(1,10):
    print i
    if i == a:
        print(str(a) + ' found!')
    elif i == b:
        print str(b) + ' found'
        break
    else:
        continue

1
2
3
4
5
6
7
8
8 found

In [155]:
a = 9
b = 8
for i in xrange(1,10):
    print i
    if i == a:
        print(str(a) + ' found!')
    elif i == b:
        print str(b) + ' found'
        break
    else:
        pass

1
2
3
4
5
6
7
8
8 found

In [156]:
for i in xrange(1,10):
    print i
    if i == a:
        print(str(a) + ' found!')
    elif i == b:
        print str(b) + ' found'
        break
    else:
        pass
        print(str(a) + ' was not in the list')

1
9 was not in the list
2
9 was not in the list
3
9 was not in the list
4
9 was not in the list
5
9 was not in the list
6
9 was not in the list
7
9 was not in the list
8
8 found

In [158]:
for i in xrange(1,10):
    print i
    if i == a:
        print(str(a) + ' found!')
    elif i == b:
        print str(b) + ' found'
        break
    else:
        continue
        print(str(a) + ' was not in the list')

1
2
3
4
5
6
7
8
8 found

In [162]:
for i in xrange(0,10,2):
    print i

0
2
4
6
8

In [165]:
a = [1,2,3,4,5]
for i in a:
    print i
a = "12345"
for i in a:
    print i

1
2
3
4
5
1
2
3
4
5

In [167]:
i =0
sum = 0 
while(i < 101):
    sum += i
    i +=1
print sum

5050

In [171]:
i=0
while True:
    print i
    i+=1
    if i>10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [174]:
name = ['alice','Ben','Peter','Rob']
number = [1,2,3,4]
nn = []
for i in zip(name,number):
    print i
    nn.append(i)
for name, number in nn:
    print name, number

('alice', 1)
('Ben', 2)
('Peter', 3)
('Rob', 4)
alice 1
Ben 2
Peter 3
Rob 4

In [181]:
name = ['alice','Ben','Peter','Rob']
number = [1,2,3,4]
nn = []
for i in zip(name,number):
    #print i
    nn.append(i)
print nn
for name, number in nn:
    print name, number

[('alice', 1), ('Ben', 2), ('Peter', 3), ('Rob', 4)]
alice 1
Ben 2
Peter 3
Rob 4

In [192]:
def addNum(a,b):
    print a+b
addNum(1,4)

import math
print math 
print math.ceil(7/6.0)
print math.floor(7/6.0)

from math import ceil,floor
print ceil(7/6.0)
print floor(7/6.0)

5
<module 'math' from '/usr/local/Cellar/python/2.7.9/Frameworks/Python.framework/Versions/2.7/lib/python2.7/lib-dynload/math.so'>
2.0
1.0
2.0
1.0

In [209]:
dic = {'a':100, 'b':"yes", 'c':0.98, 'a':600} 
print dic['c']
print dic.keys()
print dic.values()
print dic.get('c')
dic2 = dic
print dic2

0.98
['a', 'c', 'b']
[600, 0.98, 'yes']
0.98
{'a': 600, 'c': 0.98, 'b': 'yes'}

In [211]:
dic['d'] = 811
print dic
dic.update({'e':'string'})
print dic

for key in dic:
    print key,dic[key]
print dic2

{'a': 600, 'c': 0.98, 'b': 'yes', 'e': 'string', 'd': 811}
{'a': 600, 'c': 0.98, 'b': 'yes', 'e': 'string', 'd': 811}
a 600
c 0.98
b yes
e string
d 811
{'a': 600, 'c': 0.98, 'b': 'yes', 'e': 'string', 'd': 811}

In [213]:
def func(x):
    return {'a': 1,'b': 2}.get(x) 

func('b')

2