In [1]:
a = 'apple'
print a == 'apple'

True

In [ ]:
a = "Hi my name is David, and my phone number is 0912345678"
b = "Hi my name is Mary, and my age is 28"

In [3]:
a = ['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']

import re
for ele in a:
    m = re.match('^\d{4}-?\d{3}-?\d{3}$', ele)
    if m:
        print ele

0912345678
0923-451-192
0912-111222

## 比對單一英文字母

In [5]:
word = 'a'
m = re.match('a', word) # match word
print m
m = re.match('b', word) # match none
print m

<_sre.SRE_Match object at 0x0000000003A3AB28>
None

In [6]:
word = 'z'
m = re.match('[acz]', word) # match word a or c or z, word in [] is in OR relation
print m

<_sre.SRE_Match object at 0x0000000003A3AB28>

In [21]:
word = 'z'
m = re.match('[abcdefghijklmnopqrstuvwxyz]', word)
print m
m = re.match('[a-z]', word) # [a-z] == [abcdefghijklmnopqrstuvwxyz]
print m
word = 'Z'
m = re.match('[a-z]', word) # [a-z] == [abcdefghijklmnopqrstuvwxyz]
print m
m = re.match('[A-Z]', word) # [A-Z]
print m
m = re.match('[a-zA-Z]', word) # [A-Z]
print m

<_sre.SRE_Match object at 0x0000000003ABB7E8>
<_sre.SRE_Match object at 0x0000000003ABB718>
None
<_sre.SRE_Match object at 0x0000000003ABB718>
<_sre.SRE_Match object at 0x0000000003ABB7E8>

## 比對單一數字

In [14]:
n= '8'
print n if re.match('8', n) else None # match 8 
print n if re.match('[0123456789]', n) else None # match either numeric
print n if re.match('[0-9]', n) else None # match either numeric

8
8
8

## 比對多個文字 (固定長度)

In [23]:
carid = ['1122-AB', '2222-QQ', '3333-QG', 'A92B-12', '3A4B-1L', '12345-AAA'] # the first three are true carid
print [ ele  for ele in carid if re.match('[0-9]', ele)] # anything that has a numeric as initial word 
print [ ele  for ele in carid if re.match('[0-9]{4}-[A-Z]{2}', ele)] # anything that matches to NNNN-AA
print [ ele  for ele in carid if re.match('[0-9]{4,5}-[A-Z]{2,3}', ele)] # anything that matches to NNNN-AA

['1122-AB', '2222-QQ', '3333-QG', '3A4B-1L', '12345-AAA']
['1122-AB', '2222-QQ', '3333-QG']
['1122-AB', '2222-QQ', '3333-QG', '12345-AAA']

## 比對多個文字 (不固定長度 e.g. EMAIL)

In [29]:
email = ['qoo@cocacola.com', 'anonymous@111.22', '13u1udhfgiudhi-sldfjsdjfos', 'acool123@pchome.com.tw']
print [ ele  for ele in email if re.match('[a-zA-Z]{1,}@[a-z]{0,}\.com', ele)] # anything that matchs *@*.com
print [ ele  for ele in email if re.match('[a-zA-Z]+@[a-z]*\.com', ele)] # {1,} == +,  {0,} == *
print [ ele  for ele in email if re.match('[a-zA-Z0-9]+@[a-zA-Z.]+', ele)] 
print [ ele  for ele in email if re.match('\w+@.+', ele)]  # [a-zA-Z0-9] == \w, anything == .

['qoo@cocacola.com']
['qoo@cocacola.com']
['qoo@cocacola.com', 'acool123@pchome.com.tw']
['qoo@cocacola.com', 'anonymous@111.22', 'acool123@pchome.com.tw']

## 比對電話號碼

In [34]:
phone = ['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']
print [ ele  for ele in phone if re.match('[0-9]+', ele)] 
print [ ele  for ele in phone if re.match('09[0-9]{2}-{0,1}[0-9]{3}-{0,1}[0-9]{3}', ele)] 
print [ ele  for ele in phone if re.match('09[0-9]{2}-?[0-9]{3}-?[0-9]{3}', ele)] # {0,1} == ?
print [ ele  for ele in phone if re.match('09\d{2}-?\d{3}-?\d{3}', ele)] # [0-9] == \d, [a-zA-Z0-9] == \w

['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']
['0912345678', '0923-451-192', '0912-111222', '0912312318231310893010']
['0912345678', '0923-451-192', '0912-111222', '0912312318231310893010']

## 開頭與結尾比對

In [37]:
name = ['David', 'Jones', 'Amy', 'Linda', 'Johnson', 'Jenny']
print [ ele  for ele in name if re.match('^J\w+', ele)] # use ^ to match any begin word
print [ ele  for ele in name if re.match('\w+y$', ele)] # use $ to match any end word

['Jones', 'Johnson', 'Jenny']
['Amy', 'Jenny']

## 電話比對完整版

In [38]:
phone = ['0912345678', '0923-451-192', '0912-111222', '029310319301', '0912312318231310893010']
print [ ele  for ele in phone if re.match('^09\d{2}-?\d{3}-?\d{3}$', ele)]

['0912345678', '0923-451-192', '0912-111222']

## 資料抽取

In [43]:
email = ['qoo@cocacola.com', 'anonymous@111.22', '13u1udhfgiudhi-sldfjsdjfos', 'acool123@pchome.com.tw']
for ele in email:
    m = re.match('(\w+)@(.+)', ele)  # use () to match group 
    if m:
        #print m.group(1), m.group(2) 
        #print m.group(0) # group(0) print everything
        username, hostname = m.group(1), m.group(2) 
        print username, hostname

qoo@cocacola.com
qoo cocacola.com
anonymous@111.22
anonymous 111.22
acool123@pchome.com.tw
acool123 pchome.com.tw

In [48]:
for ele in email:
    m = re.match('(?P<username>\w+)@(?P<hostname>.+)', ele)  # ?P<name>, can user group('name') to extract element
    if m:
        print m.group('username'), m.group('hostname')

qoo cocacola.com
anonymous 111.22
acool123 pchome.com.tw

In [52]:
import requests
from bs4 import BeautifulSoup as bs
import re

res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/')
soup = bs(res.text)
for entry in soup.select('.rtddt a'):
    m = re.match('(?P<title>.*)\((?P<popularity>\d+)\)',entry.select('h1')[0].text)
    print m.group('title'), m.group('popularity')

【更新】柯建銘與徐永明互槓　蘇嘉全：可能... 2926
《財訊》霸氣郭台銘下苦工 柔軟攻克日本防... 0
助基督教會維權　北京律師被迫上電視認罪 0
聯結車與自小客國道相撞　2死1傷 39497
「哇嗯係大摳呆！」　達比修澄清身上是肌肉... 0
外資加碼台股　上調目標指數至9000點 0
呼應轉型正義　楊偉中：國民黨捐黨產賠償受... 35
【有片】基隆港住四十年　海面驚見牠好驚喜 1188
鴻夏戀若成功　張盛和：有助對抗紅潮 78
【網路溫度計】2016台灣燈會在桃園！十... 121
卓冠廷戀洪慈庸　卓爸：媒體曝光才知道 1205
女遭5少年輪流性侵的真相　竟是父女亂倫 2763
她抱怨碰到麻煩事！「有個女孩超想變成我」 1053
【民報】國際特赦組織：70年來最凜洌的人... 375
柯P比任何人還會騙？網友神比喻超貼切 2720
蔡英文訪電廠　白天開燈省能源？ 1467
果然大咖！　他練投　教練下令清場！ 2011
【法廣RFI】美軍上將： 北京可能事實掌... 1170
綠委提3千元兒少津貼　陳威仁：民進黨執政... 1228
【更新】美堪薩斯驚傳槍擊案　至少4死30... 12692
國民黨主席補選4人登記　今公布通過連署人... 613
張國煒今日持續未現身長榮總部 1119
【法廣RFI】安理會將採取空前措施制裁朝... 492
基隆駕訓班傳命案　女遭鐵捲門壓死 6890
王毅盼台尊重憲政　張善政：我們的憲法沒問... 1262
男拿小黃瓜塞洞塞口　「小三」窒息死 5575
【法廣RFI】制裁平壤：朝鮮設施將被定期... 371
賈納春訓慢慢練　改教田中將大如何當爸爸 728
【國際為什麼】中國政壇年度大拜拜 1215
【法廣RFI】20國集團財長聚滬 陸貨幣... 307

In [57]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/')
soup = bs(res.text)
news_list = []
for entry in soup.select('.rtddt a'):
    m = re.match('(?P<title>.*)\((?P<popularity>\d+)\)',entry.select('h1')[0].text)
    news_list.append( {'title':m.group('title'), 'popularity':int(m.group('popularity'))})

In [58]:
df  = pd.DataFrame(news_list)
df.head()
df.sort(['popularity'], ascending=False).head()

C:\Users\BIG DATA\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

    popularity                    title
5        40529         聯結車與自小客國道相撞　2死1傷
21       13534  【更新】美堪薩斯驚傳槍擊案　至少4死30...
25        7348         基隆駕訓班傳命案　女遭鐵捲門壓死
27        5852        男拿小黃瓜塞洞塞口　「小三」窒息死
16        3917       柯P比任何人還會騙？網友神比喻超貼切

In [59]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
for page in xrange(1,31):
    res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/' + str(page))
    soup = bs(res.text)
    news_list = []
    for entry in soup.select('.rtddt a'):
        m = re.match('(?P<title>.*)\((?P<popularity>\d+)\)',entry.select('h1')[0].text)
        news_list.append( {'title':m.group('title'), 'popularity':int(m.group('popularity'))})

In [60]:
df  = pd.DataFrame(news_list)
df.head()
df.sort(['popularity'], ascending=False).head()

C:\Users\BIG DATA\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

    popularity                title
2       119679   蔡依林翻糖神乎奇技　細膩直逼3D列印
1        77436  是真愛啊！49歲港姐尋回初戀　攜兒3嫁
29       58355    潘慧如入住恐怖民宿　跳蚤陪睡蓋尿被
3        42899      【圖解新聞】這些人一輩子沒胖過
12       26888  在美國工作比較好？　矽谷工程師惆悵回顧